name: Get latest tag info

on:
  workflow_call:
    inputs:
      _HEAD_SHA:
        type: string
        required: true
      _HEAD_REF:
        type: string
        required: true
    outputs:
      HEAD_SHA:
        description: "HEAD SHA"
        value: ${{ jobs.do.outputs.HEAD_SHA }}
      HEAD_REF:
        description: "HEAD REF"
        value: ${{ jobs.do.outputs.HEAD_REF }}
jobs:
  do:
    outputs:
      HEAD_SHA: ${{ steps.get_ref.outputs.HEAD_SHA }}
      HEAD_REF: ${{ steps.get_ref.outputs.HEAD_REF }}
    runs-on: self-hosted
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Get ref/sha
        id: get_ref
        run: |
          echo "event_name ===> ${{github.event_name}}"
          echo "workflow_run.head_branch ===> ${{github.event.workflow_run.head_branch}}"
          echo "workflow_run ===> ${{github.event.workflow_run}}"
          
          echo "HEAD_SHA=`echo ${{inputs._HEAD_SHA}} | cut -c1-8`" >> $GITHUB_OUTPUT
          echo "HEAD_REF=`echo ${{inputs._HEAD_REF}}`" >> $GITHUB_OUTPUT
