name: Read all secrets

on:
  workflow_call:
    #inputs:
    outputs:
      VALUES:
        description: "secrets"
        value: ${{ jobs.do.outputs.values }}
    #secrets:
#env:

jobs:
  do:
    runs-on: self-hosted
    steps:
      - uses: oNaiPs/secrets-to-env-action@v1
        with:
          secrets: ${{ toJSON(secrets) }}
          convert: lower
    outputs:
      values: ${{ toJSON(env) }}
